# ai parameters :

MODEL_NAME=gemini-2.0-flash
GOOGLE_API_KEY=

TEMPETURE=0
KEEP_IN_MEMORY=True
REASONING=False
VERBOSE=True

# chroma db :

DB_PATH='./accounting_db'
COLLECTION_NAME='accounting'

# server :
AI_PORT=5555

POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ggexamplepass
POSTGRES_DB=accounting_database

MONGO_HOST=mongo
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DB=accounting_documents
MONGO_PORT=27017
MONGO_URI=mongodb://root:example@mongo:27017/accounting_documents?authSource=admin
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# fire crawl :
FIRECRAWL_API_KEY=

# hugging face :

HUGGING_FACE_HUB_TOKEN=
