python-dotenv
agno
sqlalchemy
mcp
google-genai
PyMuPDF
python-docx
openpyxl
pytesseract
pandas
asyncio
fastapi
uvicorn
pydantic
psycopg[binary]
psycopg-pool
firecrawl-py
psycopg2-binary
pymongo
chromadb
langchain
langchain-community
langchain-chroma
langchain-text-splitters
pypdf
docx2txt
unstructured[all-docs]