python-dotenv
agno
sqlalchemy
mcp
google-genai
PyMuPDF
python-docx
openpyxl
pytesseract
pandas
asyncio
fastapi
uvicorn
pydantic
psycopg[binary]
psycopg-pool
firecrawl-py
psycopg2-binary
prometheus-fastapi-instrumentator
prometheus_client